@page "/test2"
@{
    // Retrieve values from the query string or use default values
    string firstName = Request.Query["firstName"].FirstOrDefault() ?? "Joe";
    string lastName = Request.Query["lastName"].FirstOrDefault() ?? "Blow";
    string email = Request.Query["email"].FirstOrDefault() ?? "joe@blow.com";
}

<form jx-put="/test" jx-target="#container" jx-select="#container" jx-after="alert('also interesting')">
    @Html.AntiForgeryToken()
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" value="@firstName">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="lastName" value="@lastName">
    </div>
    <div class="form-group">
        <label>Email Address</label>
        <input type="email" name="email" value="@email">
    </div>
    <button class="btn">Submit</button>
    <button class="btn" jx-get="/contact/1">Cancel</button>
</form>